<div class="container controller-wrapper">
    <button class="btn btn-info btn-buzz" data-id="0">
    </button>
    <button class="btn btn-primary btn-buzz" data-id="1">
    </button>
    <button class="btn btn-success btn-buzz" data-id="2">
    </button>
    <button class="btn btn-danger btn-buzz" data-id="3">
    </button>
</div>
