<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1>The quiz will start soon!</h1>
        </div>
    </div>
</div>
<div class="container">
    <img class="col-xs-12 col-lg-4" src="/static/img/qr.png" alt="">
    <div class="col-xs-12 col-lg-7 col-lg-offset-1">
        <h2>Scan the QR code to the left or go to any of the URLs below</h2>
        <br/>
        <h1><b>http://j.mp/fluzz</b></h1>
        <br/>
        <h1><b>http://fluzz.ryangrieve.com</b></h1>
    </div>
</div>
