<div class="col-xs-12">
    <div class="alert alert-success">
        <h1>Winner!</h1>
    </div>
    <ul class="list-group players-list">
        {{#each players}}
            <li class="list-group-item {{#if @first}}list-group-item-info{{/if}}">
                <span class="badge">{{this.score}}</span>
                {{this.name}}
            </li>
        {{/each}}
    </ul>
</div>
